<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer fragment</title>
</head>
<body>
    <footer th:fragment="footer" class="position-absolute bottom-0 start-50 translate-middle-x w-100 p-4 back-basil">
        <p class="cheese">
            Got any problems? Please <a class="text-decoration-none" href="mailto:">contact me</a>
        </p>
    </footer>
</body>
</html>