<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/style :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <h1 class="text-center my-4">
        Here are our pizzas:
    </h1>
    
    <div class="row justify-content-center">
        <div class="col-4 m-2" th:each="pizza : ${pizzas}" th:object="${pizza}" th:if="${pizzas.size() > 0}">
            <div class="card align-items-center">
                <p class="card-title fw-bold fs-3">
                    [[*{name}]]
                </p>
                <p class="card-text">
                    [[*{description}]]
                </p>
                <p class="card-text">
                    [[*{price}]]€
                </p>

                <!-- testo in caso il db sia vuoto -->
                <p th:text="Sorry! There are no books available at the moment." th:unless="${pizzas.size() > 0}"></p>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/style :: scripts}"></div>
</body>

</html>