<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/style :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header('Here are our pizzas:')}"></div>
    
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="row justify-content-center mx-0">
        <div class="mb-3 d-flex">
            <a th:href="@{/pizzas/create}" class="btn back-basil">
                Add a pizza
            </a>
        </div>
        <div class="col-sm-12 col-md-4 m-2" th:each="pizza : ${pizzas}" th:object="${pizza}" th:if="${pizzas.size() > 0}">
            <div class="card align-items-center px-4 back-cheese">
                <a class="card-title fw-bold fs-3 text-decoration-none" th:href="|/pizzas/*{id}|">
                    [[*{name}]]
                </a>
                <img class="img-fluid" th:src="*{url}" th:alt="*{name}">
                <p class="card-text">
                    [[*{price}]]€
                </p>
                <!-- testo in caso il db sia vuoto -->
                <p th:text="Sorry! There are no pizzas available at the moment." th:unless="${pizzas.size() > 0}"></p>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/style :: scripts}"></div>
</body>

</html>